/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap') ;
html {
    font-size: 62.5%;
    scroll-behavior : smooth;
display : inline;
}
body {
font : 1.6rem 'Montserrat', sans-serif;
margin : 0;
line-height : 1.5;
background-color : #787494;
display : inline;
}
* {
box-sizing : border-box;
}
h1, h2, h3, h4, h5, h6, p, figure, ul, ol {
margin : 0;
padding : 0;
list-style-type : none;
}
h1, h2, h3, h4, h5, h6 {
font-weight : 200;
}
img {
display : inline-block;
width : 100%;
height : 100%;
vertical-align : middle;
object-fit : cover;
}
a {
text-decoration : none;
color : rgb(255, 255, 255);
}
:root {
--primary-color-theme : #bd6868;
--secondary-color-theme : #0a0a0ace;
--last-color-theme: #000000;
--warning-theme: #ffffff;

}
header h1 {
text-align : center;
color: var(--last-color-theme);





}

h2{
  text-align: center;
}
header p {
    font-size: small;
    text-align: center;
}
fieldset {
max-width : 80rem;
padding : 2rem;
margin : 5rem auto 2rem;
border: solid .1rem var(--secondary-color-theme);
border-radius: .4rem;

}

fieldset legend{
    font-weight: bolder;
    padding: .5rem;
    text-transform: uppercase;
}
fieldset form * {
display : block;
width : 100%;
line-height : 5rem;
font-size: inherit;
}

fieldset form input[type="text"],
fieldset form input[type="date"],
fieldset form input[type="tel"]{
    border-bottom: solid .1rem #ccc;
    transition-duration: 0.6s;
    padding: 0 .4rem;
    width: 35%;
    z-index: 2;
}

fieldset form input[type="text"]:focus
fieldset form input[type="mail"]:focus
fieldset form input[type="password"]:focus
fieldset form input[type="text"]:focus{
    outline: none;
    box-shadow: 0 0 2rem var(--warning-theme);
    width: 35%;
}

fieldset form [placeholder]{
    font-style: italic;
    background-color: rgba(217, 213, 213, 0.866);
}


fieldset form input[type="submit"]{
    border-radius: .4rem;
    color: #fff;
    background:#121921;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 1rem auto 0;
  
}

section button img {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color:#dd5347;
    color: #fff;
    padding: 1rem;
 
    
    }
footer p {
text-align : center;
}